@media (max-width: 1600px) { 
  .slide-container .slide-main .img-item img{
    width: 1600px;
    margin-left: -800px;
  }
}
/* 大屏幕（大桌面显示器，小于等于 1200px） */
@media (max-width: 1200px) { 
  .slide-container .slide-main .img-item img{
    width: 1400px;
    margin-left: -700px;
  }
  /* 最新作品 */
  .brand_content{
     height: 425px;
  }
  /*  优秀摄影师  */
  .workstar-section .workstar-list{
    width: 75%;
  }
  .hex:nth-child(12){
    margin-left: 5px;
  } 
  .hex:nth-child(1),.hex:nth-child(10){
    margin-left: 86px;
  }
  .hex:nth-child(14){
    margin-left: 166px;
  }
}

/*@media (max-width: 1100px) { 
  .workstar-section .workstar-list{
    width: 80%;
  }
}
@media (max-width: 1024px) { 
  .workstar-section .workstar-list{
    width: 85%;
  }
}*/

/* 中等屏幕（桌面显示器，小于等于 992px） */
@media (max-width: 992px) { 
  
}


/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) { 
  /* common.css */
  .forPC{display: none;}
  .forMob{display: block;}
  /*遮罩层*/
  .mask-section{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
    background-color: rgba(0,0,0,0.5);
    display: none;
  }
 
  /* index.css */
  
  /* 顶部导航条 */
  .header-nav{height: 60px;}
  .header-nav .nav-container{width: 100%;}
  /* logo图 */
  .nav-container .logo-wrap{
    position: absolute;
    top: 0;
    left: 50%; 
    margin-left: -85px;
  }
  /* menu菜单 */
  .menu-mobile a.menu-icon{
    position: absolute;
    top: 0px;
    left: 10px;  
    line-height: 60px;
  }
  .menu-mobile a.menu-icon span{
    font-size: 2em;
    color: #fff;
    vertical-align: middle;
  }
  .menu-mobile ul{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .menu-mobile ul.menu-box{
    position: absolute;
    top: 60px;
    z-index: 99;
    background: rgba(0,0,0,.8);
    border-top: 1px solid rgba(255,255,255,.2);
    display: none;
  }
  .menu-mobile ul.menu-box a{
    margin: 0;
    padding-left: 40px;
    border-bottom: 1px solid rgba(255,255,255,.2);
  }
  .menu-mobile ul.sub-menu a{
    padding-left: 80px; 
  }
  /* 搜索 & 用户中心 */
  .nav-container .search-wrap,.nav-container .user-center{
    width: 35px;
    line-height: 60px;
  }
  .nav-container .search-wrap i{
    font-size: 2.5em;
  }
  .nav-container .user-center i{
    font-size: 1.8em;
  }
  .nav-container .search-wrap{right: 40px;}
  .nav-container .user-center{right: 5px;}
  /* 搜索框 */
  .search-container{
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    line-height: 60px;
    background: #282828;
  }

  /* key-visual轮播图 */
  .slide-container .slide-main .img-item img{
    width: 1000px;
    margin-left: -500px;
  }
  .key-visual .slide-txt p{
    font-size: 1.5em;
    line-height: 1.2em;
  }

  /* 广告 & 精品活动 */
  .adv .adv-container .adv-item{
    width: 48%;
    margin: 1% 1%;
  }

  /* 内容主体部分 */
  .section-text h2{font-size: 1.5em;}
  .section-text h2 span{width: 35%;}
  
  /* 最新作品 */
  .brand_content{
     height: auto;
  }
  .brand_content  .long-img{
    float: none;
    width: 75%;
    margin: 0 auto;
  }
  .brand_content .list_img{
    float: none;
    margin: 0 auto;
    margin-top: 20px;
  }
  .brand_content .list_img ul{padding: 0;}
  .brand_content .list_img ul li{
    width: 48%;
    height: 300px;
    margin: 1% 0.5%;
  }

  /*最热作品*/
  .hotwork-section ul.hotwork-list li{
    width: 48%;
    margin: 1% 1%;
  }
  /*优秀摄影师*/
  .workstar-section .workstar-list{
    width: 90%;
  }
  .workstar-list .hex{margin-left: 5px;}


  /*footer*/
  .footer{
    padding: 0px;
  }
  .footer-bottom{
    margin: 0;
    border: none;
  }
  .footer-bottom .copyright{
    float: none;
    text-align: center;
  }
}

@media (max-width: 480px) { 
  /* 广告 & 精品活动 */
  .adv .adv-container .adv-item{
    width: 98%;
    margin: 1% 1%;
  }
  /* 最新作品 */
  /*.brand_content  .long-img{
    float: none;
    width: 75%;
    margin: 0 auto;
  }*/
  .brand_content .list_img{
    float: none;
    margin: 0 auto;
    margin-top: 20px;
  }
  .brand_content .list_img ul{padding: 0;}
  .brand_content .list_img ul li{
    width: 98%;
    /*height: 300px;*/
    margin: 1% 0.5%;
  }
  .hotwork-section ul.hotwork-list li{
    width: 98%;
    margin: 1% 1%;
  }
  .workstar-section .workstar-list{
    width: 100%;
    padding: 40px 10%;
  }
  
}


 /*优秀摄影师*/
@media (max-width: 376px){
  .workstar-section .workstar-list{
    padding: 40px 7%;
  }
}
@media (max-width: 320px){
  .workstar-section .workstar-list{
    padding: 40px 0;
  }
}