@media (max-width: 1600px) { 
  .slide-container .slide-main .img-item img{
    width: 1600px;
    margin-left: -800px;
  }
}
/* 大屏幕（大桌面显示器，小于等于 1200px） */
@media (max-width: 1200px) { 
  .slide-container .slide-main .img-item img{
    width: 1400px;
    margin-left: -700px;
  }
}


/* 中等屏幕（桌面显示器，小于等于 992px） */
@media (max-width: 992px) {  }


/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) { 
  /* common.css */
  .forPC{display: none;}
  .forMob{display: block;}
  /*遮罩层*/
  .mask-section{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
    background-color: rgba(0,0,0,0.5);
    display: none;
  }
 
  /* index.css */
  
  /* 顶部导航条 */
  .header-nav{height: 60px;}
  .header-nav .nav-container{width: 100%;}
  /* logo图 */
  .nav-container .logo-wrap{
    position: absolute;
    top: 0;
    left: 50%; 
    margin-left: -85px;
  }
  /* menu菜单 */
  .menu-mobile a.menu-icon{
    position: absolute;
    top: 0px;
    left: 10px;  
    line-height: 60px;
  }
  .menu-mobile a.menu-icon span{
    font-size: 2em;
    color: #fff;
    vertical-align: middle;
  }
  .menu-mobile ul{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .menu-mobile ul.menu-box{
    position: absolute;
    top: 60px;
    z-index: 99;
    background: rgba(0,0,0,.8);
    border-top: 1px solid rgba(255,255,255,.2);
    display: none;
  }
  .menu-mobile ul.menu-box a{
    margin: 0;
    padding-left: 40px;
    border-bottom: 1px solid rgba(255,255,255,.2);
  }
  .menu-mobile ul.sub-menu a{
    padding-left: 80px; 
  }
  /* 搜索 & 用户中心 */
  .nav-container .search-wrap,.nav-container .user-center{
    width: 35px;
    line-height: 60px;
  }
  .nav-container .search-wrap i{
    font-size: 2.5em;
  }
  .nav-container .user-center i{
    font-size: 1.8em;
  }
  .nav-container .search-wrap{right: 40px;}
  .nav-container .user-center{right: 5px;}
  /* 搜索框 */
  .search-container{
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    line-height: 60px;
    background: #282828;
  }

  /* key-visual轮播图 */
  .slide-container .slide-main .img-item img{
    width: 1000px;
    margin-left: -500px;
  }
  .key-visual .slide-txt p{
    font-size: 1.5em;
    line-height: 1.2em;
  }

  /* 广告 & 精品活动 */
  .adv .adv-container .adv-item{
    width: 48%;
    margin: 1% 1%;
  }

  /* 内容主体部分 */
  .section-text h2{font-size: 1.5em;}
  .section1 .img-style{
    width: 45%;
    height: 200px;
    margin: 10px;
  }
  .section1 .img-style img {
    width: auto;
    height: 100%;
  }
  .section1 .item3 img{left: 0;}
  .section1 .img-style dl{font-size: 1.5em;line-height: 1.5em;}
  .section1 .item3 dl dt,.section1 .item6 dl dt{font-size: 1em;line-height: 1.2em;}
  .section1 .img-style dl dt{margin-top: 45px;}
  .section1 .img-style dl dd{font-size: 1em;}

  /*最热作品*/
  .hotwork-section ul.hotwork-list li{
    width: 48%;
    margin: 1% 1%;
  }
}

@media (max-width: 480px) { 
  /* 广告 & 精品活动 */
  .adv .adv-container .adv-item{
    width: 98%;
    margin: 1% 1%;
  }
  .hotwork-section ul.hotwork-list li{
    width: 98%;
    margin: 1% 1%;
  }
}