@media (max-width: 1600px) { 
  /* .slide-container .slide-main .slide-item img{
    width: 1600px;
    margin-left: -800px;
  } */
}
/* 大屏幕（大桌面显示器，小于等于 1200px） */
@media (max-width: 1200px) { 
/*   .slide-container .slide-main .slide-item img{
  width: 1400px;
  margin-left: -700px;
} */
  /* 最新作品 */
  .brand_content{
     height: 425px;
  }
  /*  优秀摄影师  */
 /* .hex:nth-child(12){
    margin-left: 5px;
  } 
  .hex:nth-child(1),.hex:nth-child(10){
    margin-left: 86px;
  }
  .hex:nth-child(14){
    margin-left: 166px;
  }*/
}


/* 中等屏幕（桌面显示器，小于等于 992px） */
@media (max-width: 992px) { 
}


/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) { 
  /* common.css */
  .forPC{display: none;}
  .forMob{display: block;}
  /*遮罩层*/
  .mask-section{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
    background-color: rgba(0,0,0,0.5);
    display: none;
  }
 
  /* index.css */
  
  /* 顶部导航条 */
  .header-nav{height: 60px;}
  .header-nav .nav-container{width: 100%;}
  /* logo图 */
  .nav-container .logo-wrap{
    position: absolute;
    top: 0;
    left: 50%; 
    margin-left: -85px;
  }
  /* menu菜单 */
  .menu-mobile a.menu-icon{
    position: absolute;
    top: 0px;
    left: 10px;  
    line-height: 60px;
  }
  .menu-mobile a.menu-icon span{
    font-size: 2em;
    color: #fff;
    vertical-align: middle;
  }
  .menu-mobile ul{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .menu-mobile ul.menu-box{
    position: absolute;
    top: 60px;
    z-index: 99;
    background: rgba(0,0,0,.8);
    border-top: 1px solid rgba(255,255,255,.2);
    display: none;
  }
  .menu-mobile ul.menu-box a{
    margin: 0;
    padding-left: 40px;
    border-bottom: 1px solid rgba(255,255,255,.2);
  }
  .menu-mobile ul.sub-menu a{
    padding-left: 80px; 
  }
  /* 搜索 & 用户中心 */
  .nav-container .search-wrap,.nav-container .user-center{
    width: 35px;
    line-height: 60px;
  }
  .nav-container .search-wrap i{
    font-size: 2.5em;
  }
  .nav-container .user-center i{
    font-size: 1.8em;
  }
  .nav-container .search-wrap{right: 40px;}
  .nav-container .user-center{right: 5px;}
  /* 搜索框 */
  .search-container{
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    line-height: 60px;
    background: #282828;
  }

  /* key-visual轮播图 */
  .key-visual{
    height: calc(100% - 60px);
  }
  /* .slide-container .slide-main .slide-item img{
    width: 1000px;
    margin-left: -500px;
  } */
  .key-visual .slide-txt p{
    font-size: 1.5em;
    line-height: 1.2em;
  }

  /* 广告 & 精品活动 */
  .adv .adv-container .adv-item{
    width: 48%;
    margin: 1% 1%;
  }

  /* 内容主体部分 */
  .section-text h2{font-size: 1.5em;}
  .section-text h2 span{width: 20%;}
  
  /* 最新作品 */
  .brand_content{
     height: auto;
  }
  .brand_content  .long-img{
    float: none;
    width: 90%;
    margin: 0 auto;
  }
  .brand_content .list_img{
    float: none;
    width: 89%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .brand_content .list_img ul{padding: 0;}
  .brand_content .list_img ul li{
    width: 48%;
    height: 300px;
    margin: 1% 0.5%;
  }

  /*最热作品*/
  .hotwork-section ul.hotwork-list li{
    width: 48%;
    margin: 1% 1%;
  }
  /*优秀摄影师*/


  /*footer*/
  .footer{
    padding: 10px 0;
  }
  .footer-bottom{
    margin: 0;
    border: none;
  }
  .footer-bottom .copyright{
    float: none;
    text-align: center;
  }
}

@media (max-width: 480px) { 
  /* 广告 & 精品活动 */
  .adv .adv-container .adv-item{
    width: 90%;
    margin: 2% 5%;
  }
  /* 最新作品 */
  /*.brand_content  .long-img{
    float: none;
    width: 75%;
    margin: 0 auto;
  }*/
  .brand_content .list_img{
    float: none;
    margin: 0 auto;
    margin-top: 20px;
  }
  .brand_content .list_img ul{padding: 0;}

  .hotwork-section ul.hotwork-list li{
    width: 98%;
    margin: 1% 1%;
  }
  
}



/* 摄影师 */
/*** SPACING AND SIZING *****************************************************************/
@media (min-width:1201px) { /* 5-6  hexagons per row (5+6 = 11)*/
    #hexGrid{width: 90%;}
    .hex {
        width: 16%; 
        padding-bottom: 18.47%; /* =  width / sin(60deg) */
        margin: 0 0.3%;
    }
    .hex:nth-child(11n+6),.hex:nth-child(11n+7),
    .hex:nth-child(11n+8),.hex:nth-child(11n+9),
    .hex:nth-child(11n+10),.hex:nth-child(11n+11) {
        margin-top: -3.976%;
        margin-bottom: -3.976%;
    }
    .hex:nth-child(11n+1),.hex:nth-child(11n+6) {
        clear: left;
    }
    .hex:nth-child(11n+1){
        margin-left: 8.6%;
    }
}
@media (max-width: 1200px) and (min-width:901px) {/*  4-4  hexagons per row */
    .hex {
        width: 19.2%;
        padding-bottom: 22.17%; /* =  width / sin(60deg) */
        margin: 0 0.5%;
    }
    .hex:nth-child(8n+5),.hex:nth-child(8n+6),
    .hex:nth-child(8n+7),.hex:nth-child(8n+8) {
        margin-top: -4.676%;
        margin-bottom: -4.676%;
    }
    .hex:nth-child(8n+1),.hex:nth-child(8n+5){
        clear: left;
    }
    .hex:nth-child(8n+1){
        margin-left: 10.6%;
    }

}
@media (max-width: 900px) and (min-width:601px) { /*  4-3  hexagons per row */
    .hex {
        width: 23.25%; /* = (100-3) / 4 */
        padding-bottom: 27.001%; /* =  width / sin(60deg) */
        margin: 0 0.5%;
    }
    .hex:nth-child(7n+5),.hex:nth-child(7n+6),.hex:nth-child(7n+7) {
        margin-top: -6.134%;
        margin-bottom: -6.134%;
    }
    .hex:nth-child(7n+1), .hex:nth-child(7n+5){
        clear: left;
    }
    .hex:nth-child(7n+5){
        margin-left: 12.5%;
    }
    .hex:nth-child(15){
        margin-left: 24.5%;
    }
}
@media (max-width: 600px) and (min-width:401px){
    .forPC {display: none;}
    .hex {
        width: 31.666%; 
        padding-bottom: 36.720%; 
        margin: 0 0.8%;
    }
    .hex:nth-child(1), .hex:nth-child(2){
        margin-bottom: -4.423%;
    }
    .hex:first-child {
        margin-left: 17.5%;
    }
}
@media (max-width: 400px) {
    .forPC{display: none;}
    .hex {
        width: 48.5%; 
        padding-bottom: 55.158%; 
    }
    .hex:nth-child(3n+2) {
        margin-right: 2%;
    }
    .hex:first-child {
        margin-left: 26%;
        margin-bottom: -7.423%;
    }
}