@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?40u4qd');
  src:  url('fonts/icomoon.eot?40u4qd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?40u4qd') format('truetype'),
    url('fonts/icomoon.woff?40u4qd') format('woff'),
    url('fonts/icomoon.svg?40u4qd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e901";
}
.icon-user-o:before {
  content: "\e902";
}
.icon-old-phone:before {
  content: "\e903";
}
.icon-mail-envelope-closed:before {
  content: "\e904";
}
.icon-three-bars:before {
  content: "\e905";
}
.icon-wechat:before {
  content: "\e906";
}
.icon-weibo:before {
  content: "\e907";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location2:before {
  content: "\e948";
}
.icon-printer:before {
  content: "\e954";
}
.icon-chat:before {
  content: "\e900";
}
.icon-comment:before {
  content: "\e900";
}
.icon-talk:before {
  content: "\e900";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}